
/*header开始了*/

#box1{
	width:100%;
	height:29px;
	line-height:29px;
	font-size: 12px;
	border-bottom: 1px solid #e7e7e7;
	background: #fff;
}

#box1 #header{
	width:980px;
	margin:0 auto;
	height:30px;
}

#box1 #header .left_tool{
	float: left;
}

#box1 #header .left_tool li{

	float: left;
	padding:0 4px;
	color:#555;
}

#box1 #header .left_tool li a{

	color:#ed4545;
}

#box1 #header .left_tool .Sign_out{

	display: none;
}

#box1 #header .left_tool li .aplpay{
	background: url(../img/tool.png) no-repeat;
	width:90px;
	display:block;
	height: 20px;
    margin-top: 4px;
    text-indent: -999px;
    overflow: hidden;
}

#box1 #header .left_tool li .qq_land{
	background: url(../img/tool.png) -100px 0 no-repeat;
	width:50px;
	display: block;
	height: 20px;
    margin-top: 4px;
    text-indent: -999px;
    overflow: hidden;
}

#box1 #header .left_tool li .micro_land{
	background: url(../img/tool.png) -160px 0 no-repeat;
	width:85px;
	display: block;
	height: 20px;
    margin-top: 4px;
    text-indent: -999px;
    overflow: hidden;
}



#box1 #header .right_tool{
	float: right;
}

#box1 #header .right_tool li{
	float: left;
	padding:0 2px;
	color: #555;
}

#header .right_tool .gzlp{

	position: relative;
}

#box1 #header .right_tool .mine_lppz{

	position: relative;
    padding:0 0px;
}


#header .right_tool li .my_lppz_lay{
	position: absolute;
    top: 29px;
    left: -1px;
    z-index: 99;
    width: 260px;
    border: 1px solid #ddd;
    background: #fff;
    display: none;
}

#header .right_tool li .my_lppz_lay .Occlusion_border{
	position: absolute;
    top: -1px;
    left: 0;
    width: 75px;
    height: 5px;
    background: #fff;
    display: none;
}
#header .right_tool li .user_info{
	padding: 10px 15px;
    overflow: hidden;
}

#header .right_tool li .user_info .head_photo{
	float: left;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
}


#header .right_tool li .user_info img{
	display: block;
    width: 60px;
    height: 60px;
}


#header .right_tool li .user_info .m_name{
	font-weight: 600;
    padding: 5px 0 0;
    overflow: hidden;
    zoom: 1;
}

#header .right_tool li .user_info .m_name a{
	color: #555;
    outline: none;
}
   
#header .right_tool li .user_info .m_name a:hover{
	color: #e60012;
    text-decoration: underline;
}


#header .right_tool li .menu_list{
	padding: 0 15px 15px;
}

#header .right_tool li .menu_list .m_nav{
	overflow: hidden;
    zoom: 1;
}


#header .right_tool li .menu_list .m_nav .item{
	float: left;
    width: 100px;
    line-height: 24px;
    padding-left: 15px;
    overflow: hidden;
}


#header .right_tool li .menu_list .m_nav .item a{
	color: #555;
    outline: none;
}
    
#header .right_tool li .menu_list .m_nav .item a:hover{
	color: #e60012;
    text-decoration: underline;
}


#header .right_tool li .menu_list .m_btn{
	padding-top: 10px;
    overflow: hidden;
    zoom: 1;
}

#header .right_tool li .menu_list .m_btn .item{
	display: block;
	float: left;
    width: 115px;
    overflow: hidden;
    line-height: 29px;
}

#header .right_tool li .menu_list .m_btn .item a{
	display: block;
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 3px;
    background: #e61f19;
}


#header .right_tool li .view_list .vl_title{
	line-height: 40px;
    padding: 0 15px;
    border-top: 1px dotted #ddd;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 10px;
}

#header .right_tool li .view_list .vl_title h4{
	float: left;
    font-weight: bold;
}


#header .right_tool li .view_list .vl_title a{
	float: right;
}

#header .right_tool li .view_list .vl_title a:hover{

	color: #e60012;
    text-decoration: underline;
}

#header .right_tool .gzlp .QR_CODE{
	position: absolute;

	top:29px;
	left:-15px;
	z-index: 100;
	padding: 0 10px;
	border:1px solid #eee;
	border-top:none;
	background: #fff;
	display: none;
}

.gzlp .QR_CODE .gzwb{
	width；100%;
	padding-bottom: 10px;
    border-bottom: 1px dotted #ddd;
    }

.gzlp .QR_CODE .imgcode{

	padding:5px 0;
}

    
.gzlp .QR_CODE .wecharimg{
	background: url(../img/tool.png) -570px 7px no-repeat;
	line-height: 16px;
    padding: 5px 0 5px 35px;
}


#box1 #header .right_tool .My_lp{
	padding-right:13px;
	background: url(../img/sanjiao.png) right center no-repeat;
}

#box1 #header .right_tool .Official_web{
	height:29px;
	line-height: 29px;
}

#box1 #header .right_tool .Official_web:hover{
	color: #e60012;
	text-decoration: underline;
}

#box1 #header .right_tool li .phone{
	background: url(../img/smallimg.png) 0 7px no-repeat;
	display: block;
    height: 29px;
    padding-left: 20px;
}

#box1 #header .right_tool li .phone span{
	font-size: 16px;
    font-weight: 600;
    color: #ed4545;
    font-family: "Microsoft YaHei";
    vertical-align: -1px;
}
/*header结束了*/

/*nav部分开始了*/
    /*nav上半部分的搜索开始*/
#nav_lppz{
   border-bottom:4px solid #e61f18;
   background: #fff;
   height:126px;

}
#nav_lppz:after{
    content:"";
    display: block;
    clear: both;
}

#nav_lppz .search_lppz{
    width:980px;
    margin:0 auto;
    padding-bottom: 20px;
    zoom:1;
    height:76px;
     
}

#nav_lppz .search_lppz .logo_lppz{
    float: left;
    margin: 30px 0 0 5px;
}

#nav_lppz .search_lppz .logo_lppz a{
    display: block;
    width: 192px;
    height: 46px;
    text-indent: -999px;
    overflow: hidden;
    background: url(../img/logo.png) no-repeat;
}


#nav_lppz .search_lppz .search_box{
    float: left;
    width: 490px;
    margin: 30px 0 0 100px;
}


#nav_lppz .search_lppz .search_box .hot_list{
    height: 22px;
    line-height: 22px;
    padding-left: 15px;
}

#nav_lppz .search_lppz .search_box .hot_list span{
    line-height: 22px;
}
#nav_lppz .search_lppz .search_box .hot_list .first_hot_sch{
    color:#ff5160;
}


#nav_lppz .search_lppz .search_box .hot_list a{
    padding:0 5px;
}

#nav_lppz .search_lppz .search_box .hot_list a:hover{

    text-decoration: underline;
}


.search_box .search_area{
    height:33px;
}

.search_box .search_area .sch_key{
    float: left;
    width: 390px;
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border: none;
    background: url(../img/tool.png) 0 -30px no-repeat;
    color:#666;
    outline: none;
}


.search_box .search_area .sch_btn{
    float: left;
    width: 46px;
    height: 33px;
    text-indent: -999px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background: url(../img/tool.png) -474px -30px no-repeat;
}

 .search_lppz .shopping_car{
    float: right;
    margin-top: 40px;
}


.search_lppz .shopping_car .usershopping{
     position: relative;
     float: left;
}

.search_lppz .shopping_car .usershopping .us_btn{
    display: block;
    width: 103px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    padding-left: 20px;
    margin-left: 15px;
    background: url(../img/tool.png) -137px -73px no-repeat;
}


.search_lppz .shopping_car .usershopping .us_num{
    position: absolute;
    top: -15px;
    left: 105px;
    height: 20px;
    line-height: 20px;
    padding: 0 0 3px 8px;
    background: url(../img/tool.png) -585px -65px no-repeat;
}

.search_lppz .shopping_car .usershopping .us_num b{
    display: inline-block;
    height: 100%;
    color: #e61002;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    padding-right: 8px;
    background: url(../img/p8.png) right -40px no-repeat;
}

.search_lppz .shopping_car .usershopping .cart_list_dropdown{
    position: absolute;
    right: 0;
    z-index: 99;
    width: 330px;
    border: 1px solid #ddd;
    background: #fff;
    display: none;
}

.search_lppz .shopping_car .usershopping .cart_list_dropdown .new_commodity{
    display: block;
    line-height: 28px;
    padding: 0 10px;
    color: #666;
    font-weight: 600;
    font-size: 12px;
}


.search_lppz .shopping_car .usershopping .cart_list_dropdown .cart_roll{
    height: auto!important;
    height: 320px;
    max-height: 320px;
    overflow: hidden;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    background: #fff;
}

.search_lppz .shopping_car .usershopping .cart_list_dropdown .cart_roll ul{
    list-style: none;
}

.search_lppz .shopping_car .usershopping .cart_list_dropdown .total{
    text-align: right;
    padding: 10px;
    background: #eee;
}


.search_lppz .shopping_car .usershopping .cart_list_dropdown .total p{
    padding-bottom: 5px;
}

.search_lppz .shopping_car .usershopping .cart_list_dropdown .total p span{
   color:#ff0000
}

.search_lppz .shopping_car .usershopping .cart_list_dropdown .total a{
    display: inline-block;
    zoom: 1;
    color: #fff;
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #f04747 url(../img/p8.png) -351px -235px no-repeat;
}


/*nav下半部分开始*/
#nav_lppz .menu_lppz{
    height: 30px;
    line-height: 30px;
}

#nav_lppz .menu_lppz .menu_width{
    width:980px;
    margin:0 auto;
    line-height: 30px;
    height:30px;
}



#nav_lppz .menu_lppz .menu_width ul li{
    float: left;
    text-align: center;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#nav_lppz .menu_lppz .menu_width ul li a{
    display: block;
    width: 90px;
    height: 30px;
    color: #444;
    font-weight: 600;
}


#nav_lppz .menu_lppz .menu_width ul li a:hover{
   color:rgb(30,144,255);
   font-weight: 1000;
}

#nav_lppz .menu_lppz .menu_width ul li .active{
    text-decoration: none;
    color: #fff;
    background: url(../img/p8.png) -351px -195px no-repeat;
}


/*nav部分结束了 */



/*footer部分开始了*/

    /*上边一条*/
.footer{
    width: 100%;
    margin-top: 40px;
    font-family: "Microsoft YaHei";
    background: #f5f5f5;
}


.footer .lppz_service{
    border-bottom: 1px solid #dfdfdf;
    background: #fff;
}

.footer .lppz_service ul{
    width: 1150px;
    margin: 0 auto;
    padding: 20px 0 20px 50px;
    overflow: hidden;
}

.footer .lppz_service ul li{
    float: left;
    width: 150px;
    line-height: 20px;
    font-size: 16px;
    padding-left: 40px;
    background: url(../img/smallimg.png) 0 -180px no-repeat;
}

.footer .lppz_service ul .lppz_zp{
    background-position: 0 -180px;
}

.footer .lppz_service ul .lppz_th{
    background-position: 0 -228px;
}
.footer .lppz_service ul .lppz_by{
    background-position: 0 -277px;
}
.footer .lppz_service ul .lppz_dx{
    background-position: 0 -327px;
}
.footer .lppz_service ul .lppz_yh{
    background-position: 0 -373px;
}
.footer .lppz_service ul .lppz_fy{
    background-position: 0 -425px;
}

.footer .lppz_service ul li em{
    color: #333;
    font-style: normal;
}
.footer .lppz_service ul li p{
    color:#777;
}

/*footer的上边一条结束*/

.footer .foot_area{
    width: 1200px;
    margin: 0 auto;height:344px;
}

.footer .footer_guide{
    padding: 20px 0 20px 50px;
    height:150px;
}

.footer .footer_guide .footer_guide_left{
    float: left;
    width: 240px;
    height:138px;
}


.footer .footer_guide .footer_guide_left .ctt_icon{
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    text-indent: -999px;
    overflow: hidden;
    background: url(../img/smallimg.png) 0 0 no-repeat;
}

.footer .footer_guide .footer_guide_left .ctt_text{
    margin-left: 30px;
}

.footer .footer_guide .footer_guide_left .ctt_text p{
    font-size: 14px;
    padding: 5px 0;
    color: #8a8a8a;
}
.footer_guide_left .ctt_text p strong{
    font-size: 16px;
    color: #555;
}



.footer .footer_guide .footer_guide_center{
    float: left;
    padding-left: 40px;
    width:600px;
    height:150px;
}


.footer .footer_guide .footer_guide_center dl{
    float: left;
    width: 120px;
}

.footer_guide_center dl dt{
    line-height: 40px;
    font-size: 14px;
    color: #555;
}

.footer_guide_center dl dt strong{
    line-height: 40px;
    font-size: 14px;
    color: #555;
}

.footer_guide_center dl dd a{
    display: block;
    height: 22px;
    line-height: 22px;
    color: #666;
}

.footer_guide_center dl dd a:hover{
    text-decoration: underline;
}


.footer .footer_guide .footer_guide_right{
    float: right;
    width: 260px;
}

.footer .footer_guide .footer_guide_right {
    float: left;
    width: 120px;
}

.footer .footer_guide .footer_guide_right .qr_code{
    float: left;
    width: 120px;
    overflow: hidden;

}

.footer_guide_right .qr_code img{
    display: block;
    width: 110px;
    height: 130px;
}

.footer_guide_right .qr_code span{
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}

.footer_guide_right .weibo_email{
    margin-left: 110px;
    width:150px;
    height:64px;
}
.footer_guide_right .weibo_email .wb_tit{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #8a8a8a;
    width:150px;
}
.footer_guide_right .weibo_email .wb_push{
    padding: 5px 0;
}


.footer_guide_right .weibo_email .wb_push a{
    width: 62px;
    vertical-align: middle;
    font-size: 12px;
    background: url(../img/wb.png) no-repeat;
    display: inline-block;
    background-position: -63px 0;
    color:#fff;
    
}
.footer_guide_right .weibo_email .wb_push a em{
    float: left;
    margin: 3px 0 0 3px;
    height: 14px;
    width: 16px;
    overflow: hidden;
    display: inline-block;
    background: url(../img/wb.png) -190px 0 no-repeat;
}

.footer_guide_right .weibo_email .wb_push a span{
    float: left;
    margin: 3px 0 3px 3px;
    padding-top: 1px;
    overflow: hidden;
    white-space: nowrap;
    padding:0;
}


.footer_guide_right .weibo_email .wb_push .wb_num{
    display: inline-block;
    position: relative;
    height: 20px;
    padding: 0 7px;
    margin-left: 7px;
    border: 1px solid #ecd181;
    border-radius: 2px;
    background: #fcf8e9;
    background: -webkit-linear-gradient(top,#fef7df,#f9f9f6);
    background: -o-linear-gradient(top,#fef7df,#f9f9f6);
    background: -moz-linear-gradient(top,#fef7df,#f9f9f6);
    vertical-align: middle;
    line-height: 20px;
}
.footer_nav{
    text-align: center;
}

.footer_nav ul{
    display: inline-block;
    zoom: 1;
}

.footer_nav ul li{
    float: left;
    color: #999;
}

.footer_nav ul li a{
    padding: 0 15px;
    color: #555;
}

.footer_nav ul li a:hover{
    color: #e60012;
    text-decoration: underline;
}


.footer_Company{
    text-align: center;
    padding: 20px 0;
    color: #777;
    height:96px;
}

.footer_Company a:hover{
    text-decoration: underline;
}
/*尾部结束*/

/*右侧大导航开始*/

.right_nav{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    width: 36px;
    height: 100%;
    background-color: #363940;
}

.right_nav .rnb_list{
    margin-top: 50px;
}

.right_nav .rnb_list li{
    height: 35px;
    margin-top: 10px;
    font: 13px/35px "Microsoft YaHei";
    vertical-align: top;
}



.right_nav .rnb_list li a{
    display: block;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
    position: relative;
}


.right_nav .rnb_list li a:hover{
    background-color: #df2627;
    
}

.right_nav .rnb_list li a span{
   position: absolute;
    top: 0;
    right: 0px;
    opacity: 0;
    display: none;
    width: 35px;
    overflow: hidden;
    padding-left: 15px;
    height: 35px;
    color: #fff;
    white-space: nowrap;
    background-color: #df2627;
}

.right_nav .rnb_list li a i{
    width: 36px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    position: absolute;
    top:0;
    right:0;
    display: inline-block;
    vertical-align: middle;
    text-indent: 0;
    text-align: center;
    z-index: 3;
}



/*返回顶部*/
.right_nav .back_top{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.right_nav .back_top li{
    height: 35px;
    margin-top: 10px;
    font: 13px/35px "Microsoft YaHei";
    vertical-align: top;
}

.back_top .ercode{
    display: block;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
}


.back_top .ercode a{
    display: block;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
}

.back_top li i{
    width: 36px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    text-indent: 1;
    display: block;
}

.back_top .ercode i{
    background: #363940 url(../img/hehe.png) no-repeat;
    background-position: -97px -925px;
}

.back_top .ercode .cust{
    position: absolute;
    bottom: 10px;
    left: -152px;
    width: 150px;
    height: 175px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    display: none;
}

.back_top .goback{
    height: 35px;
    margin-top: 10px;
    font: 13px/35px "Microsoft YaHei";
    vertical-align: top;
}


.back_top .goback a{
    display: block;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
    position: relative;
}

.back_top .goback a span{
    position: absolute;
    top: 0;
    padding-left: 15px;
    height: 100%;
    color: #fff;
    white-space: nowrap;
    background-color: #df2627;
    display: none;
}

.back_top .goback a i{
   text-align: center;
   line-height: 35px;
   color: #fff;
    z-index: 30;
}
.back_top .goback a:hover{
    background: #df2627
}
